.usersMain form input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    width: 160px;
    outline: 0;
}
.usersMain form button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFFFFF;
    border: 2px solid #0066FF;
}
.usersMain form button:hover{
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
    outline: 0;
}